<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="pl.allegro.atm.workshop.rx"/>

    <context:property-placeholder location="classpath:app.properties"/>

    <bean id="mobiusClientFactory" class="pl.allegro.atm.workshop.rx.mobius.MobiusClientFactory">
        <constructor-arg name="mobiusUrl" value="${mobiusUrl}"/>
    </bean>

    <bean id="mobiusAuthWebTarget" factory-bean="mobiusClientFactory" factory-method="authWebTarget"/>
    <bean id="rxMobiusAuthWebTarget" factory-bean="mobiusClientFactory" factory-method="rxAuthWebTarget"/>

    <bean id="mobiusWebTarget" factory-bean="mobiusClientFactory" factory-method="defaultWebTarget"/>
    <bean id="rxMobiusWebTarget" factory-bean="mobiusClientFactory" factory-method="rxDefaultWebTarget"/>


</beans>